/* src/components/KoanDisplay.css */

.koan-display {
    width: 80%;  /* Adjust width as needed */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;  /* Light background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.koan-display img {
    max-width: 60%;  /* Adjust max-width as needed */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 10px;
}

.koan-display div {
    max-width: 50%;  /* Adjust width as needed */
    text-align: center;
    font-size: x-large;  /* Larger text */
}

.koan-image {
  display: flex;
  justify-content: right;
  align-items: right;
  /* height: 100%; /1* ensure the parent div has a height *1/ */
  height: 300px;
  width: 300px;
}

@media (max-width: 1000px) {

  .koan-display {
    flex-direction: column;
    align-items: center; /* Center align on small screens */
    width: 100%;  /* Adjust width as needed */
  }

  .koan-display img {
    max-width: 80%
  }

  .koan-display div {
    width: 80%
  }
}
