/* src/components/PromptHandler.css */
.prompt-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Updated */
  align-items: center;
  padding: 20px; /* Updated */
  max-width: 800px;
  margin: auto;
}

.prompt-container img,
.prompt-container h1,
.prompt-container .input-field {
  margin-right: 20px; /* Updated */
}

.input-field {
  flex-grow: 1;
  max-width: 300px; /* New */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* Align spinner and text vertically */
}

.loading-text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;  /* Add spacing between spinner and text */
}

@media (max-width: 1000px) {
  .prompt-container {
    flex-direction: column;
    align-items: center; /* Center align on small screens */
    width: 100%;  /* Adjust width as needed */
  }
}
